<div class="recoveryContent">
  <div class=" recoverySubContent">
    <form action="" #formResetPasswordValidate="ngForm">
      <div class="row card col-md-3 offset-4 recoveryForm">
        <div class=" row form-text col-md-12">
          <h3>Reset Password</h3>
        </div>
        <div class="row mb-3 form-text col-md-12">
          <span style="color: red; font-size: 15px;">Inform your new Password*</span>
        </div>
        <div class="row mb-3">
          <div class="mb-3 col-9">
            <label class="form-label" for="newpassword">New Password</label>
            <span class="appendValidateRequired" *ngIf="pass1Validate.invalid"> *</span>
            <input class="form-control" type="password" name="newpassword" id="newpassword" [(ngModel)]="newpassword"
                   required="required" #pass1Validate="ngModel">
          </div>
        </div>
        <div class="row mb-3">
          <div class="mb-3 col-9">
            <label class="form-label" for="repeatpassword">Repeat Password</label>
            <span class="appendValidateRequired" *ngIf="pass2Validate.invalid"> *</span>
            <input class="form-control" type="password" name="repeatpassword" id="repeatpassword"
                   [(ngModel)]="repeatpassword" required="required" #pass2Validate="ngModel">
          </div>
        </div>
        <div class="row mb-3">
          <div class="mb-3 col-3">
            <div class="btnRecoveryPositon">
              <button type="button" class="btn btn-primary" [disabled]="formResetPasswordValidate.invalid" (click)="resetarSenha()">Save</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
