<p>Tela Usuario ADD</p>
<h1>{{'31555555555' | mask:'(00)00000-0000'}}</h1>
<div class="addUsuarioContent">
  <div class="shadow-lg p-3 mb-5 bg-light rounded" style="min-height: 450px;">
    <form action="" class="center-formV" #formValidate="ngForm">
      <div class="row mb-3">
        <div class="form-group col-md-1">
          <label for="usuarioID" class="visually-hidden">ID</label>
          <input type="hidden" class="form-control" id="usuarioID" name="usuarioID" readonly [(ngModel)]="usuario.id">
        </div>
      </div>
      <div class="row mb-3 justify-content-center">
        <div class="form-group col-md-5">
          <label for="nome" class="form-label">Name</label>
          <span class="appendValidateRequired" *ngIf="nomeValidate.invalid"> *</span>
          <input type="text" class="form-control" id="nome" name="nome" required="required"
                 placeholder="Digit your name..." [(ngModel)]="usuario.nome" #nomeValidate="ngModel">
        </div>
        <div class="form-group col-md-3">
          <label for="cpf" class="form-label">SSN</label>
          <span class="appendValidateRequired" *ngIf="cpfValidate.invalid"> *</span>
          <input type="text" class="form-control" id="cpf" name="cpf" required="required" [dropSpecialCharacters]="false" mask="000.000.000-00"
                 placeholder="Inform your SSN..." [(ngModel)]="usuario.cpf" #cpfValidate="ngModel">
        </div>
      </div>
      <div class="row mb-3">
        <div class="form-group col-md-6 paddingLogin">
          <label for="username" class="form-label">Login</label>
          <span class="appendValidateRequired" *ngIf="usernameValidate.invalid"> *</span>
          <input type="text" class="form-control" id="username" name="username" required="required"
                 placeholder="Create your login" [(ngModel)]="usuario.username" #usernameValidate="ngModel">
        </div>
      </div>
      <div class="row mb-3 justify-content-center">
        <div class="form-group col-md-4" *ngIf="usuario.id === undefined">
          <label for="password" class="form-label">Password:</label>
          <input type="password" class="form-control" id="password" name="password" required="required"
                 placeholder="Digit your password" [(ngModel)]="usuario.password">
        </div>
        <div class="form-group col-md-4" *ngIf="usuario.id !== undefined">
          <label for="newPassword" class="form-label">New password:</label>
          <input type="password" class="form-control" id="newPassword" name="new Password"
                 placeholder="New password" [(ngModel)]="usuario.newPassword">
        </div>
        <div class="form-group col-md-4">
          <label for="repeatPassword" class="form-label">Repeat password:</label>
          <input type="password" class="form-control" id="repeatPassword" name="repeatPassword"
                 placeholder="Repeat your password" [(ngModel)]="usuario.reapeatPassword">
        </div>
      </div>
      <div class="row mb-3">
        <div class="form-group col-md-4 offset-2">
          <button type="button" class="btn btn-primary btn-lg" (click)="saveUser()" [disabled]="formValidate.invalid">
            Confirm
          </button>
        </div>
        <div class="form-group col-md-4">
          <button type="button" class="btn btn-primary btn-lg" (click)="back()">Back</button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class=" card text-center telefoneDiv" *ngIf="usuario.id !== undefined">
  <div class="card-header">
    <div class="row mb-3">
      <div class="col-md-2 my-1 ">
        <button type="button" (click)="open(content)" class="btn btn-success col-md-12">
          Register phone
        </button>
      </div>
      <div class="col-md-7 ms-md-5 pt-2">
        <span class="text-dark tituloCardTelefone">Telephones</span>
      </div>
      <span class="border-bottom"></span>
    </div>
    <table class="table table-hover tableCustomTelefone table-striped">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Number</th>
        <th scope="col">
          <div class="col-md-3 offset-lg-5 mt-sm-2">
            <input class="form-control" type="text" placeholder="Search">
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let fone of usuario.telefones; let i = index">
        <td>{{fone.id}}</td>
        <td><span>{{fone.numero}}</span></td>
        <td>
          <button class="btn btn-danger" (click)="deletarTelefone(fone.id, i)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">New Phone</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="row mb-3">
            <div class="form-group col-md-7 offset-3">
              <label for="numeroTel" class="form-label">Number:</label>
              <span class="appendValidateRequired" *ngIf="numeroTel.invalid"> *</span>
              <input type="text" class="form-control" id="numeroTel" name="numeroTel" required="required" mask="(00) 0000-00009" [dropSpecialCharacters]="false"
                     placeholder="Digit your phone..." [(ngModel)]="telefone.numero" #numeroTel="ngModel">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="numeroTel.invalid" (click)="addNewPhone()">Save</button>
        <button type="button" class="btn btn-primary" (click)="c('Cancel')">Cancel</button>
      </div>
  </div>
</ng-template>
