/* You can add global styles to this file, and also import other style files */
.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

.bodyGradient {
  background: linear-gradient(24deg, rgba(231, 152, 226, 1) 0%, rgba(228, 28, 150, 1) 38%, rgba(132, 7, 227, 1) 100%) no-repeat fixed;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}
