<h1>TELA DE USUARIOS</h1>
<table class="table table-dark table-hover table-striped">
  <thead>
  <tr>
    <th scope="col">ID:</th>
    <th scope="col">Nome:</th>
    <th scope="col">CPF:</th>
    <th scope="col">Delete:</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <tr *ngFor="let user of usuarios">
  <td>{{user.id}}</td>
  <td>{{user.nome}}</td>
  <td>{{user.cpf}}</td>
  <td><button class="btn btn-danger" type="button" (click)="deleteUsuario(user.id)">Deletar</button></td>
  </tr>
  </tbody>
</table>
