<section class="home">
  <div class="container">
    <article *ngIf="isAdmin">
      <div class="card mt-2">
        <div class="card-header">
          <h2 class="fw-lighter mb-2">Relatório de Usuários</h2>
          <button class="btn btn-outline-primary d-inline-block mb-2" data-bs-toggle="modal" (click)="downloadReport()"
                  data-bs-target="#staticBackdrop">Visualizar
          </button>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-header d-flex flex-wrap justify-content-between align-items-center">
          <h2 class="fw-lighter">Lista de Usuários</h2>
          <div class="col-sm-4">
            <input type="text" class="form-control" [formControl]="pesquisa" placeholder="Pesquisa por nome...">
          </div><!--col-->
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Permissão</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let usuario of usuarios | paginate: {itemsPerPage: 5, currentPage: currentPage, totalItems: totalElements}">
              <th scope="row">{{ usuario.id }}</th>
              <td>{{ usuario.nome }}</td>
              <td>
                <div *ngFor="let p of usuario.authorities"><p>{{ p.authority }}</p></div>
              </td>
              <td>
                <div class="text-end">
                  <a class="btn btn-outline-warning me-2 mb-3 mb-md-0" [routerLink]="['edit/', usuario.id]">Editar</a>
                  <a class="btn btn-outline-danger me-2 mb-3 mb-md-0"
                     (click)="deleteConfirmation(usuario.id)">Deletar</a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-12 text-center">
              <pagination-controls (pageChange)="onPageChange(currentPage = $event)" previousLabel="Voltar"
                                   nextLabel="Avançar" [responsive]="true"></pagination-controls>
            </div><!--col-->
          </div><!--row-->
        </div>
      </div>
    </article>
    <article *ngIf="isFisica">
      <h2 class="fw-lighter">Bem vindo Pessoa Física</h2>
    </article>
    <article *ngIf="isJuridica || isAdmin">
      <h2 class="fw-lighter">Bem vindo Pessoa Jurídica</h2>
    </article>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Relatório</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
            <iframe #iframeComponent src="" frameborder="0" width="100%" height="500" allowtransparency="true"></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>
      </div>
    </div>
  </div>
</section>
