<section class="reset-password">
  <div class="container position-absolute top-50 start-50 translate-middle overflow-hidden" *ngIf="!tokenExpired">
    <h2 class="fw-lighter white-text mb-3">Resetar Senha</h2>
    <form action="#" [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12 mb-3">
          <label for="newPassword" class="white-text">Senha</label>
          <input type="password" class="form-control" id="newPassword" [formControlName]="'newPassword'"
                 [ngClass]="validatorInputNgClass('newPassword')" placeholder="Informe a nova senha">
          <small class="invalid-feedback">{{ validatorSmallGenericMessage('newPassword','Senha') }}</small>
        </div><!--col-->
      </div><!--row-->
      <div class="row">
        <div class="col-12 mb-3">
          <label for="repeatPassword" class="white-text">Cofirme a senha</label>
          <input type="password" class="form-control" id="repeatPassword" [formControlName]="'repeatPassword'"
                 [ngClass]="validatorInputNgClass('repeatPassword')" placeholder="Informe novamente">
          <small class="invalid-feedback">{{ validatorSmallGenericMessage('repeatPassword','Confirmar senha', 'Senha') }}</small>
        </div><!--col-->
      </div><!--row-->
      <div class="row">
        <div class="col-12 col-sm-auto mb-3">
          <button class="btn btn-primary w-100">Salvar</button>
        </div><!--col-->
      </div><!--row-->
    </form>
  </div><!--container-->
</section>
<app-formulario-debug [formularioReativoDebug]="formulario"></app-formulario-debug>
